/* .menuActive será o menu visível */
.menuActive {
    display: flex;
    flex-direction: row;  /* Alinha os itens em linha */
    gap: 20px;  /* Espaçamento entre os itens */
    width: 800px;
    height: 500px;
    border: 1px solid white;
    transition: transform 0.3s ease-in-out;
  }
  
  .menuHidden {
    display: flex;
    flex-direction: row;  /* Alinha os itens em linha */
    gap: 20px;  /* Espaçamento entre os itens */
    width: 800px;
    height: 500px;
    transform: translateX(100%);  /* Oculta movendo o menu para a direita */
    transition: transform 0.3s ease-in-out;
  }
  